@charset "utf-8";

button{
    display: block;
    margin-bottom: 1em;
}

/* ピンク色に変化 */
.fade-button-pink{
    padding: 1rem 1.5rem;
    font-style: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #f77;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.8s ease;
}
.fade-button-pink:hover{
    background-color: #fcc;
}

/* ランダムに変化 */
#fade-button-random{
    padding: 1rem 1.5rem;
    font-style: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #07f;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}