@charset "utf-8";

button{
    display: block;
    margin-bottom: 1rem;
}

.press-button{
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #0bd;
    box-shadow: 0 4px 4px rgba(0,126,148,.4);
    cursor: pointer;
    transition: translate 0.2s ease, box-shadow 0.2s ease;
}

.press-button:hover{
    translate: 0 2px;
    box-shadow: 0 2px 4px rgba(0,126,148,.2);
}

.press-button-solid{
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: rgb(221,0,0);
    box-shadow: 0 8px 0 rgba(62,1,1,0.8);
    cursor: pointer;
    transition: translate 0.2s ease, box-shadow 0.2s ease;
}

.press-button-solid:hover{
    translate: 0 4px;
    box-shadow: 0 4px 0 rgba(62,1,1,0.8);
}

.like-button-js{
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #05b;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    cursor: pointer;
    transition: translate 0.2s ease, box-shadow 0.2s ease;
}

.like-button-js:hover{
    translate: 0 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
}

.like-button-js.liked {
  background: #037;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.fav-button-js{
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    color: #ffa200;
    background-color: #fffb00;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    cursor: pointer;
    transition: translate 0.2s ease, box-shadow 0.2s ease;
}

.fav-button-js:hover{
    translate: 0 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
}

.fav-button-js.faved {
  background: #ffb700;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  color: #fff;
}