@charset "utf-8";

div{
    margin: 2rem;
}

.btn-container{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    border-radius: 12px;
}

.btn-container::before{
    content: "";
    background: linear-gradient(90deg,#0bd,#f6d);
    width: 500px;
    height: 500px;
    position: absolute;
    animation: rotate-line .2s linear infinite;
}

@keyframes rotate-line{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.btn-inner{
    margin: 6px;
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 1.5rem;
    border-radius: 10px;
    border: 0;
    font-style: 1rem;
    cursor: pointer;
}