@charset "utf-8";

button{
    display: block;
    margin-bottom: 1rem;
}

.flow-button{
    padding: 1rem 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    color: #fff;
    background: linear-gradient(90deg,#0bd,#05b);
    background-size: 200% 100%;
    cursor: pointer;
    transition: background-position 0.4s ease;
}

.flow-button:hover{
    background-position: -100% 0;
}


#flow-button-js{
    padding: 1rem 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    color: #fff;
    background: linear-gradient(90deg,#0bd,#0f0);
    background-size: 200% 100%;
    cursor: pointer;
    transition: background-position 0.2s ease;
}